body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-image: linear-gradient(#023e8a, #0077b6, #0096c7, #00b4d8, #90e0ef);
    color: #fdf0d5;
}



.navbar {
    font-family: "Fascinate", system-ui;
    color: #fdf0d5 ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
}

.rearr {
    display: flex;
    justify-content: space-evenly;
    /* Opțional: permite elementelor să treacă pe rândul următor dacă e ecranul mic */
    flex-wrap: wrap; 
}

.card {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}


.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.short-descr {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}